/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --font-sans: 'Outfit', sans-serif;

  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-950: #172554;
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray-300);
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb {
  background: var(--color-gray-700);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-400);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-600);
}
